{{ define "main" }}
<div class="NotFoundContent_notFoundContent__ehvM3">
  <div class="NotFoundContent_notFoundContent__container__d_yKS">
    <h1 class="NotFoundContent_notFoundContent__title__lYJfh">404 ошибка</h1>
    {{ partial "warning.html" (dict "class" "NotFoundContent_notFoundContent__warning__yxWuw" "html" "<p class=\"NotFoundContent_notFoundContent__description__WsxEm\"><strong>Страница перемещена или удалена.</strong></p><p>Пожалуйста, проверьте, правильно ли написан адрес, или перейдите на <a href=\"/\">главную страницу</a>.</p>") }}
  </div>
</div>
{{ end }}
